################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeMgmt/bin/Debug/net6.0
/EmployeeMgmt/obj
